.mainbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 17px;
    font-size: 18px;
}

#name {
    font-weight: bold;
    font-size: 19px;
    /* #name에 대한 추가적인 스타일을 지정할 수 있습니다. */
}

#Chatting,
#About,
#Contract{
    border:none;
    background: none;
    font-size: 16px;
    margin-right: 20px;
}

/* #logOut에 대한 추가적인 스타일을 지정할 수 있습니다. */
#logOut {
    background-color:blueviolet;
    color:beige;
    font-size: 16px;
    border:none;
    width: 100px;
    height: 55px;
}

.content {
    display: flex;
}

/* 동영상에 대한 스타일을 지정합니다. */
video {
    width: 55%; /* 동영상의 가로 크기를 화면의 80%로 설정합니다. */
    height: 600px;
    margin-top: 60px;
    margin-left: 10%;
}

/********************************************************/
#chat-container {
    width: 25%;
    height: 600px;
    margin-top: 60px;
    border: 3px;
    border-color: grey;
    /* max-width: 600px;
    margin: 20px auto; */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }

  #chat-messages {
    padding: 10px;
    overflow-y: scroll;
    max-height: 300px;
  }

  .message {
    margin-bottom: 10px;
  }

  .user {
    font-weight: bold;
    color: #007bff;
  }